* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(6, 60px);
    grid-template-rows: repeat(6, 60px);
    grid-template-areas:
        "A1 A1 A7 A7 A7 A14"
        "A1 A1 A7 A7 A7 A15"
        "A2 A3 A7 A7 A7 A16"
        "A4 A4 A8 A11 A12 A17"
        "A4 A4 A9 A13 A13 A18"
        "A5 A6 A10 A13 A13 A19";

}

.item {
    background-color: #f0d1d1;
    display: grid;
    place-items: center;
}

.item1 {
    grid-area: A1;
}

.item2 {
    grid-area: A2;
}

.item3 {
    grid-area: A3;
}

.item4 {
    grid-area: A4;
}

.item5 {
    grid-area: A5;
}

.item6 {
    grid-area: A6;
}

.item7 {
    grid-area: A7;
}

.item8 {
    grid-area: A8;
}

.item9 {
    grid-area: A9;
}

.item10 {
    grid-area: A10;
}

.item11 {
    grid-area: A11;
}

.item12 {
    grid-area: A12;
}

.item13 {
    grid-area: A13;
}

.item14 {
    grid-area: A14;
}

.item15 {
    grid-area: A15;
}

.item16 {
    grid-area: A16;
}

.item17 {
    grid-area: A17;
}

.item18 {
    grid-area: A18;
}

.item19 {
    grid-area: A19;
}